.footer {
  background-color: black;
  color: white;
  width: $full-width;
  height: 19.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  &__heading {
    font-family: "Shrikhand", cursive;
    font-size: 2rem;
  }
  &__link {
    color: white;
    display: flex;
    align-items: center;

    & p {
      margin-left: 1rem;
    }
  }
}
