.nav{
    width: $full-width;
    height: 63.6%;
    margin-bottom: 7rem;
    padding-left: 1.4rem;
    
    & ol{
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1.8rem;
    }
   

    &__link{
        background-color: $color-firstbackground;
        height: 7.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.5rem;
        position: relative;
        
        & a{
            display: flex;
            align-items: center;
            text-decoration: none;
            column-gap: 2rem;
        }
        &--transparent{
            background-color:#deccf4;
        }
    }
    &__circle{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-primary;
        position: absolute;
        left: -1.5rem;
        color: $color-fonts-white;
    }
}




