.operation {
  width: $full-width;
  height: 44rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include padding-general;
  padding-top: 5.2rem;
  padding-bottom: 7rem;

  &-list {
    width: $full-width;
    height: 63.6%;
    margin-bottom: 7rem;
    padding-left: 1.4rem;

    & ol {
      width: 100%;
      display: flex;
      flex-direction: column;
      grid-row-gap: 1.8rem;
    }

    &__link {
      background-color: $color-firstbackground;
      height: 7.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1.5rem;
      position: relative;
      @include border-shadow;

      &--transparent {
        background-color: #f5edff;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      text-decoration: none;
      column-gap: 2rem;
      &-color{
        color: $color-primary;
      }
    }
    &__circle {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-primary;
      position: absolute;
      left: -1.5rem;
      color: $color-fonts-white;
    }
  }
}
