body {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  font-weight: 500;
  line-height: 1.7;
}

h1 {
  font-family: $font-title, cursive;
}
h2 {
  font-size: 2.5rem;
  line-height: 2.8rem;
}
h4{
  font-size: 1.8rem;
  line-height: 2.5rem;
  @include mobile-only{
    
    font-size: 2rem;
  }
}


a {
  text-decoration: none;
  color: #000000;
}

button {
  font-family: "Roboto", sans-serif;
  font-size: $font-size;
  color: white;
  background-color: $color-primary;
}
