.location {
  width: $full-width;
  height: 5rem;
  @include display-module;
  background-color: $color-secondarybackground;
}
.fa-map-marker-alt {
  padding: 1rem;
}
.container {
  width: $full-width;
  height: 100%;
}
.booking {
  background-color: $color-firstbackground;
  width: $full-width;
  height: 28.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4rem 4rem 5.5rem 4rem;
  &_info {
    font-size: 1.7rem;
    font-weight: 200;
  }
}
.restaurant-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-bottom: 6.5rem;
}
.restaurant-prev {
  width: 100%;
  height: 25.2rem;
  box-shadow: 0 0 10px #b0b0b0;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &__image {
    height: 68.7%;
  }
  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: white;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .newbtn {
    @include newbtn;
  }

  .fa-heart {
    font-size: 3rem;
    position: relative;
    z-index: 1;
    

    transition: color 900ms ease-in-out;
    &:hover {
      color: transparent;
      &::after {
        opacity: 1;
        transform: scale(1);
        transform-origin: 50% bottom;
      }
    }
    &::after {
      content: "\f004";

      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: -webkit-linear-gradient($color-secondary, $color-primary);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
      opacity: 0;
      transform: scale(0);
      transition: transform 1000ms cubic-bezier(0.65, 0.03, 0.02, 1.22);
      z-index: 3;
    }
  }
  & p {
    font-weight: 300;
  }
  
}
