
.location{
    width: $full-width;
    height: 5rem;
    @include display-module;
    background-color: #b0b0b0;
}
.fa-map-marker-alt{
    padding: 1rem;
}
.container{
    width: $full-width;
    height: 100%;
}
.booking{
    background-color: rgb(219, 219, 219);
    width: $full-width;
    height: 28.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 4rem 5.5rem 4rem;
    &_info {
        font-size: 1.7rem;
        font-weight: 200;
    }
}
.operation{
    width: $full-width;
    height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include padding-general;
    padding-top: 5.2rem;
    padding-bottom: 7rem;
}



.restaurant-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    margin-bottom: 6.5rem;
    
}

.restaurant-prev{
    width: 100%;
    height: 25.2rem;
    box-shadow: 0 0 10px #b0b0b0;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    &__image{
        height: 68.7%;
    }
    &__info{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: white;
    }
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    > p {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: green;
        background-color: #99E2D0;
        padding: 0.5rem 0.8rem;
        border-radius: 1rem;
    }
    & .fa-heart{
        font-size: 3rem;
       
    }
}


