.location {
  width: $full-width;
  height: 5rem;
  @include display-module;
  background-color: $color-secondarybackground;
}
.fa-map-marker-alt {
  padding: 1rem;
}
.container {
  width: $full-width;
  height: 100%;
}
.description {
  background-color: $color-firstbackground;
  width: $full-width;
  height: 28.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 4rem 4rem 5.5rem 4rem;
  &__info {
    font-size: 1.7rem;
    font-weight: 200;
  }
}
.restaurant-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;
  margin-bottom: 6.5rem;
}
.restaurant-article{
  position: relative
}


.restaurant-prev {
  width: 100%;
  height: 25.2rem;
  box-shadow: 0 0 10px #b0b0b0;
  border-radius: 1.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  &__image {
    height: 68.7%;
  }
  &__info {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: white;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .newbtn {
    @include newbtn;
  }

  & p {
    font-weight: 300;
  }
}
.restaurant-like{
  position: absolute;
  bottom: 2.5rem;
  right: 2rem;
}



.loadspinner {
  width: 100%;
  height: 100%;
  background: linear-gradient($color-primary, $color-secondary);
  position: absolute;
  top: 0;
  animation: spinoff 3s cubic-bezier(1, 0.09, 0.98, 0.34); //name duration timing-function delay iteration-count direction fill-mode;
  transform: translateY(-100rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
  
  &_items {
    width: 15rem;
    height: 15rem;
    border: 1rem solid $color-primary;
    border-radius: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: -1rem;
      right: -1rem;
      width: 15rem;
      height: 15rem;
      border: 1rem solid transparent;
      border-top: 1rem solid $color-secondary;
      border-right: 1rem solid $color-secondary;
      border-radius: 50%;
      box-shadow: 0 0 2rem $color-secondary;
      animation: 1s spin infinite ease-in-out;
    }
    ul {
      display: flex;
    }


    ul li {
      list-style-type: none;
      color: $color-tertiary;
      font-size: 3rem;
      font-family: $font-title;
      font-weight: bold;
      animation: textanime 1.5s ease-in-out infinite;
      z-index: 1000;
      &:nth-child(1) {
        animation-delay: 0.1s;
      }
      &:nth-child(2) {
        animation-delay: 0.2s;
      }
      &:nth-child(3) {
        animation-delay: 0.3s;
      }
      &:nth-child(4) {
        animation-delay: 0.4s;
      }
      &:nth-child(5) {
        animation-delay: 0.5s;
      }
      &:nth-child(6) {
        animation-delay: 0.6s;
      }
      &:nth-child(7) {
        animation-delay: 0.7s;
      }
      &:nth-child(8) {
        animation-delay: 0.8s;
      }
    }
  }
}
@keyframes spinoff {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100rem);
  }
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}

@keyframes textanime {
  0% {
    color: $color-tertiary;
    text-shadow: none;
  }
  90% {
    color: $color-tertiary;
    text-shadow: none;
  }
  100% {
    color: $color-secondary;
    text-shadow: 0 0 0.2rem $color-secondary;
  }
}
