
.location{
    width: $full-width;
    height: 5rem;
    @include display-module;
    background-color: #b0b0b0;
}
.fa-map-marker-alt{
    padding: 1rem;
}
.container{
    width: $full-width;
    height: 100%;
}
.booking{
    background-color: rgb(219, 219, 219);
    width: $full-width;
    height: 28.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 4rem 5.5rem 4rem;
    &_info {
        font-size: 1.7rem;
        font-weight: 200;
    }
}
