@mixin display-module {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin border-shadow {
  box-shadow: 0.3rem 1rem 1.4rem -1rem #b0b0b0;
}
@mixin padding-general {
  padding: 0rem 2rem 0rem 2rem;
}

@mixin btn {
  padding: 1.5rem 2rem;
  border: none;
  @include border-shadow;
  border-radius: 3rem;
  background: linear-gradient(170deg, $color-secondary, 35%, $color-primary);
}

@mixin newbtn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: #008766;
  background-color: #99e2d0;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
}

@mixin flex-menu {
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 3.5rem 1rem;
  background-color: $color-firstbackground;
}

@mixin buttonmenu {
  width: 100%;
  height: 7rem;
  background-color: white;
  border-radius: 1.5rem;
  @include border-shadow;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 2rem 1rem 1rem;
}

@mixin lovebtn {
  font-size: 3rem;
  position: relative;
  z-index: 1;
  transition: color 900ms ease-in-out;
  &:hover {
    color: transparent;
    &::after {
      opacity: 1;
      transform: scale(1);
      transform-origin: 50% bottom;
    }
  }
  &::after {
    content: "\f004";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: -webkit-linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    opacity: 0;
    transform: scale(0);
    transition: transform 1000ms cubic-bezier(0.65, 0.03, 0.02, 1.22);
    z-index: 3;
  }
}










@mixin mobile-only {
  @media screen and (max-width: map-get($breakpoints, mobile)) {
    grid-template-columns: 1fr;
  }
}
