$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-firstbackground: #f6f6f6;
$color-secondarybackground: #eaeaea;
$color-fonts-white: white;


$font-title: 'Shrikhand';

$font-size: 1.5rem;




$full-width: 100%;

$layout-margin: 2rem;

$breakpoints: (
  mobile: 599px,
);
